body{
    background-color: rgb(33, 31, 31);
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
}
table{
    background-color: rgb(33, 31, 31);
    color: white;
    text-align: left;
    border: 2px solid white;
    border-radius: 10px;
}
th{
    text-align: center;
    border-bottom: 2px solid white;
}
#no{
    text-align: center;
}